@define-mixin media-query-desktop {
  @media (min-width: 1024px) {
    @mixin-content;
  }
}

@define-mixin media-query-tablet {
  @media (min-width: 768px) {
    @mixin-content;
  }
}

@define-mixin visually-hidden {
  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
  }
}

@define-mixin heading-l-styles {
  font-family: var(--default-font-family);
  font-size: 2.5rem; /* 40px */
  font-variation-settings: "wght" var(--fw-bold);
  letter-spacing: 2.5px;
}

@define-mixin heading-m-styles {
  font-family: var(--default-font-family);
  font-size: 1.5rem; /* 24px */
  font-variation-settings: "wght" var(--fw-bold);
  letter-spacing: 1.5px;
}

@define-mixin heading-s-styles {
  font-family: var(--default-font-family);
  font-size: 1.25rem; /* 20px */
  font-variation-settings: "wght" var(--fw-bold);
  letter-spacing: 1.25px;
}

@define-mixin heading-xs-styles {
  font-family: var(--default-font-family);
  font-size: 1rem;
  font-variation-settings: "wght" var(--fw-bold);
  letter-spacing: 1px;
}

@define-mixin body-styles {
  font-family: var(--default-font-family);
  font-size: 0.875rem; /* 14px */
  font-variation-settings: "wght" var(--fw-medium);
  letter-spacing: 0.8px;
}

@define-mixin text-styles {
  .heading-l {
    @mixin heading-l-styles;
  }

  .heading-m {
    @mixin heading-m-styles;
  }

  .heading-s {
    @mixin heading-s-styles;
  }

  .heading-xs {
    @mixin heading-xs-styles;
  }

  .body {
    @mixin body-styles;
  }
}

@define-mixin restart-button-styles {
  .restart-button {
    --button-size: 40px;
    --icon-size: 1rem;
    width: var(--button-size);
    height: var(--button-size);
    border-radius: 10px;
    border: none;
    background-color: var(--color-silver);
    border-bottom: 4px solid var(--color-silver-border);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    &:hover {
      background-color: var(--color-silver-hover);
    }

    & img {
      width: var(--icon-size);
      height: var(--icon-size);
    }

    @mixin media-query-tablet {
      --button-size: 52px;
      --icon-size: 20px;
    }
  }
}

@define-mixin primary-button-styles {
  .button-1,
  .button-2 {
    width: 100%;
    height: 56px;
    border-radius: 15px;
    border: none;
    @mixin heading-xs-styles;
    text-transform: uppercase;

    @mixin media-query-tablet {
      @mixin heading-s-styles;
      height: 67px;
    }
  }

  .button-1 {
    background-color: var(--color-light-yellow);
    border-bottom: 8px solid var(--color-light-yellow-border);

    &:hover {
      background-color: var(--color-light-yellow-hover);
    }
  }

  .button-2 {
    background-color: var(--color-light-blue);
    border-bottom: 8px solid var(--color-light-blue-border);

    &:hover {
      background-color: var(--color-light-blue-hover);
    }
  }
}

@define-mixin secondary-button-styles {
  .secondary-button-1,
  .secondary-button-2 {
    height: 52px;
    border-radius: 10px;
    border: none;
    padding: 0 1rem;
    @mixin heading-xs-styles;
    text-transform: uppercase;
  }

  .secondary-button-1 {
    background-color: var(--color-light-yellow);
    border-bottom: 4px solid var(--color-light-yellow-border);

    &:hover {
      background-color: var(--color-light-yellow-hover);
    }
  }

  .secondary-button-2 {
    background-color: var(--color-silver);
    border-bottom: 4px solid var(--color-silver-border);

    &:hover {
      background-color: var(--color-silver-hover);
    }
  }
}

@define-mixin button-styles {
  button {
    cursor: pointer;
    color: var(--color-dark-navy);
  }
  @mixin primary-button-styles;
  @mixin secondary-button-styles;
  @mixin restart-button-styles;
}
