@import "../../../css/_css-reset.css";
@import "../../../css/_mixins.css";

:host *,
:host *:before,
:host *:after {
  box-sizing: border-box;
}

:host {
  @mixin visually-hidden;
  @mixin button-styles;

  & .menu-component {
    --board-width: 328px;
    width: var(--board-width);
    margin: 0 auto;
    margin-top: 95px;

    @mixin media-query-tablet {
      --board-width: 460px;
    }
  }

  & .mark-select-component {
    --radio-width: 50%;
    --radio-height: 54px;
    --icon-size: 32px;
    width: 100%;
    background-color: var(--color-semi-dark-navy);
    border-radius: 15px;
    border-bottom: 8px solid var(--color-semi-dark-navy-border);
    padding: 1.5rem 1.5rem;
    margin: 2rem 0;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    & fieldset {
      & legend {
        @mixin heading-xs-styles;
        text-transform: uppercase;
        text-align: center;
        margin-bottom: 1.5rem;
      }

      & ul {
        list-style: none;
        display: flex;
        justify-content: center;
        background-color: var(--color-dark-navy);
        border-radius: 10px;
        padding: 0.5rem; /* 8px */
        & li {
          display: block;
          width: var(--radio-width);
          height: var(--radio-height);
          position: relative;

          & svg {
            position: absolute;
            top: calc(50% - var(--icon-size) / 2);
            left: calc(50% - var(--icon-size) / 2);
            width: var(--icon-size);
            height: var(--icon-size);
            & path {
              fill: var(--color-silver);
            }
          }

          & input[type="radio"] {
            appearance: none;
            -webkit-appearance: none;
            -moz-appearance: none;
            width: 100%;
            height: 100%;

            &:checked {
              padding: 0;
              margin: 0;
              background-color: var(--color-silver);
              border-radius: 10px;

              & ~ svg {
                & path {
                  fill: var(--color-semi-dark-navy);
                }
              }
            }
          }
        }
      }
    }

    & p {
      @mixin body-styles;
      text-align: center;
      text-transform: uppercase;
    }

    @mixin media-query-tablet {
      --radio-width: 198px;
    }
  }

  & .button-block {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  & .hidden {
    display: none !important;
  }
}
