@import "../../../css/_css-reset.css";
@import "../../../css/_mixins.css";

@define-mixin score-component {
}

:host *,
:host *:before,
:host *:after {
  box-sizing: border-box;
}

:host {
  @mixin visually-hidden;

  & footer {
    margin-top: 1.25rem;
    display: flex;
    justify-content: space-between;
    & .score-component {
      --component-width: 96px;
      --component-height: 64px;
      width: var(--component-width);
      height: var(--component-height);
      border-radius: 10px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      &.x-score {
        background-color: var(--color-light-blue);
      }
      &.o-score {
        background-color: var(--color-light-yellow);
      }
      &.tie-score {
        background-color: var(--color-silver);
      }

      & h2 {
        font-family: var(--default-font-family);
        font-size: 0.75rem; /* 12px */
        font-variation-settings: "wght" var(--fw-medium);
        line-height: 1.25;
        letter-spacing: 0.75px;
        text-transform: uppercase;
        color: var(--color-dark-navy);
      }
      & p {
        font-family: var(--default-font-family);
        font-size: 1.25rem; /* 20px */
        font-variation-settings: "wght" var(--fw-bold);
        line-height: 1.25;
        letter-spacing: 1.25px;
        text-transform: uppercase;
        color: var(--color-dark-navy);
      }

      @mixin media-query-tablet {
        --component-width: 140px;
        --component-height: 72px;

        & h2 {
          font-size: 0.875rem; /* 14px */
          letter-spacing: 0.88px;
        }

        & p {
          font-size: 1.5rem; /* 24px */
          letter-spacing: 1.5px;
        }
      }
    }

    @mixin media-query-tablet {
      margin-top: 19px;
    }
  }
}
